.ui-fluid .ui-button {
    width: 35%;
    margin-left: 3px;
}

.h3 {
    text-align: center;
    margin-bottom: -10px;
    margin-top: 10px;
}

.btnJustitificativa {
    border: 1px solid #1f89ce !important;
    color: #ffffff !important;
    background: #2399e5 !important;
    /*background-image: url(#{resource['imagens:lupa.png']})!important;*/
    /*background-repeat: no-repeat !important;*/
}

.justificativaNoDialog{
    width: 500px;
    height: 200px !important;
    color: #0000ff;
}
