/*caixa de dialog - header*/
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
    background-color: rgba(0, 136, 204, 0.09);
}

/*caixa dos botoes*/
.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive{
    border: none !important;
}

.gridBtn{
    padding-top: 0px;
    padding-bottom: 2px;
    border: none !important;"
}

.btnGerar{
    margin-left: 265px;
}

.btnEnviarCarga{
    margin-left: 370px;
    width: 130px !important;

}


.cargaDialogCss{
    border: none;
    margin-top: 10px;
}

/*.ui-column-filter{*/
    /*display: none !important;*/
/*}*/

